/* Reset */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

html, body {
  height: 100%;
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(40, 44, 52);
}

textarea, button, input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}


.wrapper {}

.page {
  padding: 50px;
}

.form {
  max-width: 300px;
  margin: 0 auto;
  display: grid;
  gap: 15px;
}

.form__input {
  width: 100%;
  padding: 10px;
  height: 40px;
}

textarea.form__input {
  height: 100px;
}

.form__button {
  background-color: rgb(14, 93, 167);
  height: 40px;
  color: #fff;
  text-transform: uppercase;
}